rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /messagesByMonth/{document} {
    	allow read;
      allow write: if false
    }
    match /subscribers/{document} {
    	allow read;
      allow write;
    }
  }
}